@media screen and (min-width: 769px), print {
  .ttl {
    background: url(../images/bkg_ttl.png) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .company .gr_company {
    padding: 120px 0;
  }
  .company .gr_company .row {
    max-width: 752px;
    margin: 0 auto;
  }
  .company .gr_company ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #000;
  }
  .company .gr_company ul li:first-of-type {
    border-top: 1px solid #000;
  }
  .company .gr_company ul li:nth-of-type(5) span:after {
    content: none;
  }
  .company .gr_company ul li:nth-of-type(5) .sub_li li {
    border: none;
    font-size: 1.5rem;
    line-height: 29px;
    display: block;
    padding: 0 0 0 45px;
    font-style: normal;
    position: relative;
  }
  .company .gr_company ul li:nth-of-type(5) .sub_li li:after {
    content: "";
    width: 3px;
    height: 33px;
    background-color: #EC6E00;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .company .gr_company ul li span {
    font-size: 1.5rem;
    line-height: 18px;
    display: block;
    width: 190px;
    position: relative;
    text-align: center;
  }
  .company .gr_company ul li span:after {
    content: "";
    width: 3px;
    height: 33px;
    background-color: #EC6E00;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .company .gr_company ul li em {
    font-size: 1.5rem;
    line-height: 29px;
    display: block;
    padding-left: 45px;
    font-style: normal;
    width: -webkit-calc(1005 - 190px);
    width: -moz-calc(1005 - 190px);
    width: calc(1005 - 190px);
  }
}

@media screen and (max-width: 768px) {
  .ttl {
    background: url(../images/bkg_ttl.png) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .company .gr_company {
    padding: 10.41667vw 0;
  }
  .company .gr_company ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.90625vw 0;
    border-bottom: 1px solid #000;
  }
  .company .gr_company ul li:first-of-type {
    border-top: 1px solid #000;
  }
  .company .gr_company ul li:nth-of-type(5) span:after {
    content: none;
  }
  .company .gr_company ul li:nth-of-type(5) .sub_li li {
    border: none;
    font-size: 3.64583vw;
    line-height: 1.5;
    display: block;
    padding: 0 0 0 3.90625vw;
    font-style: normal;
    position: relative;
  }
  .company .gr_company ul li:nth-of-type(5) .sub_li li:after {
    content: "";
    width: 2px;
    height: 7.8125vw;
    background-color: #EC6E00;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .company .gr_company ul li span {
    font-size: 3.64583vw;
    line-height: 1.5;
    display: block;
    width: 28.64583vw;
    position: relative;
    text-align: center;
  }
  .company .gr_company ul li span:after {
    content: "";
    width: 2px;
    height: 7.8125vw;
    background-color: #EC6E00;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
  .company .gr_company ul li em {
    font-size: 3.64583vw;
    line-height: 1.5;
    display: block;
    padding-left: 3.90625vw;
    font-style: normal;
    width: -webkit-calc(100% - 28.64583vw);
    width: -moz-calc(100% - 28.64583vw);
    width: calc(100% - 28.64583vw);
  }
}
