@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.fv {
  position: relative;
  z-index: 10;
  &_under {
    ul {
      width: 100%;
      height: 0;
      padding-top: percentage(1024/2520);
      position: relative;
      overflow: hidden;
      li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 3s;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/mask.png') 0 0 repeat rgba(#323232,0.6);
    text-align: center;
    padding-bottom: percentage(71/1260);
    h2 {
      font-size: 0;
    }
  }
}
.news {
  position: relative;
  z-index: 15;
  padding: percentage(40/1260) 0 percentage(100/1260);
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    left: 0;
    top: 0;
    margin-top: percentage(-41/1260);
    transform: skewY(-3deg);
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_ttl {
    text-align: center;
    width: 368px;
    h2 {
      font-size: 4.6rem;
      line-height: 0.8;
      font-weight: bold;
      font-family: $roboto;
      color: #ec6e00;
    }
    p {
      font-size: 1.4rem;
      line-height: 1;
      font-weight: 200;
      margin-top: 20px;
    }
  }
  &_list {
    width: 368px;
    li {
      a {
        display: flex;
        width: 100%;
        time {
          font-size: 1.4rem;
          line-height: 42px;
          font-weight: 400;
          font-family: $roboto;
          width: 115px;
        }
        span {
          width: calc(100% - 115px);
          font-size: 1.4rem;
          line-height: 42px;
          font-weight: 300;
        }
      }
    }
  }
  &_btn {
    width: 368px;
    text-align: center;
    font-size: 0;
    a {
      display: inline-block;
      background: #ec6e00;
      color: #fff;
      font-size: 1.4rem;
      line-height: 3rem;
      border-radius: 4px;
      font-weight: 300;
      padding: 0 21px 0 18px;
      &::after {
        position: relative;
        content: "";
        width: 6px;
        height: 9px;
        background: url('../common/images/arrow@2x.png') 0 0 no-repeat;
        background-size: contain;
        margin-left: 12px;
        display: inline-block;
        transition: transform 0.3s ease;
      }
      &:hover {
        &::after {
          transform: translateX(5px);
        }
      }
    }
  }
}
.company {
  position: relative;
  z-index: 14;
  margin-top: percentage(-71/1260);
  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    width: 50%;
    height: 100%;
    background: url('../images/mask.png') 0 0 repeat rgba(#ec6e00,0.97);
  }
  figure {
    line-height: 0;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
    }
  }
  &_pos {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
  &_main {
    height: 100%;
    &_l {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      * {
        text-align: center;
      }
      h2 {
        font-size: 4.6rem;
        line-height: 0.8;
        font-family: $roboto;
        font-weight: bold;
        color: #fff;
      }
      span {
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 400;
        color: #fff;
        margin-top: 25px;
      }
      p {
        font-size: 1.8rem;
        line-height: 38px;
        color: #fff;
        font-weight: 400;
        margin-top: 30px;
      }
      ._btn {
        margin-top: 30px;
        a {
          display: inline-block;
          color: #fff;
          font-size: 1.4rem;
          line-height: 3rem;
          border-radius: 4px;
          font-weight: 300;
          padding: 0 15px 0 16px;
          border: 1px solid #fff;
          &::after {
            position: relative;
            content: "";
            width: 6px;
            height: 9px;
            background: url('../common/images/arrow@2x.png') 0 0 no-repeat;
            background-size: contain;
            margin-left: 12px;
            display: inline-block;
            transition: transform 0.3s ease;
          }
          &:hover {
            &::after {
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
}
.service {
  position: relative;
  z-index: 13;
  &_top {
    position: relative;
    transform: translateZ(0);
    z-index: 2;
    padding: percentage(50/1260) 0 percentage(100/1260);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url('../images/bg_service.jpg') 0 0 repeat;
      left: 0;
      top: 0;
      margin-top: percentage(-40/1260);
      transform: skewY(-3deg);
    }
  }
  &_ttl {
    text-align: center;
    h2 {
      font-size: 4.6rem;
      line-height: 0.8;
      font-weight: bold;
      font-family: $roboto;
      color: #ec6e00;
    }
    span {
      color: #ec6e00;
      font-size: 1.8rem;
      line-height: 1;
      font-weight: 400;
      display: inline-block;
      margin-top: 25px;
    }
  }
  &_c {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
  }
  &_box {
    width: 365px;
    background: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    > a {
      display: block;
      height: 100%;
    }
    &_t {
      position: relative;
      figure {
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 0;
        font-size: 0;
      }
    }
    &_b {
      font-size: 1.8rem;
      line-height: 32px;
      font-weight: 500;
      padding: 20px 0 20px 30px;
    }
  }
  &_ex {
    margin-top: 69px;
    p {
      font-size: 3.1rem;
      line-height: 41px;
      font-weight: bold;
      color: #fff;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
      text-align: center;
      span {
        font-size: 4.1rem;
        color: #ec6e00;
      }
    }
    ul {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      li {
        &:not(:last-child) {
          margin-right: 100px;
        }
        a {
          display: block;
          img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  &_bottom {
    position: relative;
    z-index: 1;
    margin-top: percentage(-79/1260);
    ul {
      display: flex;
      li {
        width: 33.4%;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.partner {
  padding: 70px 0;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 367px;
      a {
        display: block;
        font-size: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.map {
  line-height: 0;
  iframe {
    width: 100%;
    height: 520px;
  }
}