@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.fv {
  position: relative;
  z-index: 10;
  &_under {
    ul {
      width: 100%;
      height: 0;
      padding-top: percentage(1024/2520);
      position: relative;
      overflow: hidden;
      li {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 3s;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/mask.png') 0 0 repeat rgba(#323232,0.6);
    text-align: center;
    padding-bottom: percentage(71/1260);
    h2 {
      font-size: 0;
      padding: 0 vw(30);
      text-align: center;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}
.news {
  position: relative;
  z-index: 10;
  padding: percentage(40/1260) 0 percentage(100/1260);
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    left: 0;
    top: 0;
    margin-top: percentage(-41/1260);
    transform: skewY(-3deg);
  }
  &_wrap {
  }
  &_ttl {
    text-align: center;
    h2 {
      font-size: vw(46);
      line-height: 0.8;
      font-weight: bold;
      font-family: $roboto;
      color: #ec6e00;
    }
    p {
      font-size: vw(24);
      line-height: 1;
      font-weight: 200;
      margin-top: vw(20);
    }
  }
  &_list {
    margin-top: vw(40);
    li {
      padding: vw(20) 0;
      a {
        display: flex;
        width: 100%;
        time {
          font-size: vw(28);
          line-height: 1.5;
          font-weight: 400;
          font-family: $roboto;
          width: vw(200);
        }
        span {
          width: calc(100% - #{vw(200)});
          font-size: vw(28);
          line-height: 1.5;
          font-weight: 300;
        }
      }
    }
  }
  &_btn {
    text-align: center;
    font-size: 0;
    margin-top: vw(40);
    a {
      display: inline-block;
      background: #ec6e00;
      color: #fff;
      font-size: vw(28);
      line-height: 2;
      border-radius: 4px;
      font-weight: 300;
      padding: 0 vw(40);
      &::after {
        position: relative;
        content: "";
        width: vw(6*1.5);
        height: vw(9*1.5);
        background: url('../common/images/arrow@2x.png') 0 0 no-repeat;
        background-size: contain;
        margin-left: vw(12*1.5);
        display: inline-block;
        transition: transform 0.3s ease;
      }
    }
  }
}
.company {
  position: relative;
  z-index: 14;
  figure {
    line-height: 0;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
    }
  }
  &_pos {
    position: relative;
    transform: translateZ(0);
    background: url('../images/mask.png') 0 0 repeat rgba(#ec6e00,1);
    padding: 0 0 vw(120);
    &::before {
      position: absolute;
      content: "";
      z-index: 2;
      width: 100%;
      height: 100%;
      background: url('../images/mask.png') 0 0 repeat rgba(#ec6e00,1);
      z-index: -1;
      transform: skewY(-8.8deg) translateY(#{vw(-41)});
    }
  }
  &_main {
    &_l {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      * {
        text-align: center;
      }
      h2 {
        font-size: vw(46);
        line-height: 0.8;
        font-family: $roboto;
        font-weight: bold;
        color: #fff;
      }
      span {
        font-size: vw(30);
        line-height: 1;
        font-weight: 400;
        color: #fff;
        margin-top: vw(25);
      }
      p {
        font-size: vw(28);
        line-height: 1.5;
        color: #fff;
        font-weight: 400;
        margin-top: vw(30);
      }
      ._btn {
        margin-top: vw(40);
        a {
          display: inline-block;
          color: #fff;
          font-size: vw(28);
          line-height: 2;
          border-radius: 4px;
          font-weight: 300;
          padding: 0 vw(30);
          border: 1px solid #fff;
          &::after {
            position: relative;
            content: "";
            width: vw(6*1.5);
            height: vw(9*1.5);
            background: url('../common/images/arrow@2x.png') 0 0 no-repeat;
            background-size: contain;
            margin-left: vw(12*1.5);
            display: inline-block;
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
}
.service {
  position: relative;
  z-index: 15;
  &_top {
    position: relative;
    transform: translateZ(0);
    z-index: 2;
    padding: percentage(50/1260) 0 percentage(250/1260);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url('../images/bg_service.jpg') 0 0 repeat;
      left: 0;
      top: 0;
      margin-top: percentage(-80/1260);
      transform: skewY(-8.8deg);
    }
  }
  &_ttl {
    text-align: center;
    h2 {
      font-size: vw(46);
      line-height: 0.8;
      font-weight: bold;
      font-family: $roboto;
      color: #ec6e00;
    }
    span {
      color: #ec6e00;
      font-size: vw(30);
      line-height: 1;
      font-weight: 400;
      display: inline-block;
      margin-top: vw(25);
    }
  }
  &_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: vw(40);
  }
  &_box {
    background: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    width: vw(365);
    &:not(:first-child) {
      margin-top: vw(40);
    }
    > a {
      display: block;
      height: 100%;
    }
    &_t {
      position: relative;
      figure {
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 0;
        img {
          max-width: 100%;
          width: auto;
          height: vw(63);
        }
      }
    }
    &_b {
      font-size: vw(24);
      line-height: 1.5;
      font-weight: 500;
      padding: vw(20) 0 vw(20) vw(30);
      min-height: vw(150);
    }
  }
  &_ex {
    margin-top: vw(40);
    p {
      font-size: vw(30);
      line-height: 1.5;
      font-weight: bold;
      color: #fff;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
      text-align: center;
      span {
        font-size: vw(45);
        color: #ec6e00;
      }
    }
    ul {
      margin-top: vw(40);
      display: flex;
      align-items: center;
      flex-direction: column;
      li {
        width: vw(365);
        &:not(:last-child) {
          margin-bottom: vw(40);
        }
        a {
          display: block;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &_bottom {
    position: relative;
    z-index: 1;
    margin-top: percentage(-79/1260);
    display: none;
    ul {
      display: flex;
      li {
        width: 33.4%;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.partner {
  padding: vw(70) 0;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      width: vw(367);
      &:not(:first-child) {
        margin-top: vw(40);
      }
      a {
        display: block;
        font-size: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.map {
  iframe {
    width: 100%;
    height: vw(940);
  }
}