@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.service{
	.ttl{
	  background: url(../images/service_banner.jpg) center center no-repeat;
	  background-size: cover;
	}
	&.service3, &.service4{
		.ttl{
		  background: url(../images/service_banner2.jpg) center center no-repeat;
		  background-size: cover;
		}
	}
	&_inner{
		padding: 118px 0 206px;
		background: url(../images/bg_service.jpg) top center no-repeat;
		background-size: cover;
		&_list{
			width: 752px;
			margin: 0 auto;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			padding-bottom: 35px;
			.service_box{
				padding: 25px 5px 0 95px;
				position: relative;
				&:not(:last-child){
					border-bottom: 1px dashed #000;
				}
				&:before{
					content: '';
					width: 67px;
					height: 67px;
					position: absolute;
					left: 5px;
					top: 25px;
					display: inline-block;
					background: url(../images/ic_use.png) no-repeat;
					background-size: contain;
				}
				dt{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;
					h3{
						img{
							margin-bottom: 10px;
							width: 168px;
						}
						span{
							display: block;
							font-size: 2.1rem;
							line-height: 1;
							color: #ED7700;
							font-weight: 500;
						}
					}
				}
				dd{
					p{
						font-size: 1.3rem;
						line-height: 2rem;
						margin-bottom: 20px;
						font-weight: 400;
						text-align: justify;
					}
					a{
						margin-bottom: 13px;
						display: block;
						img{
							width: 89px;
						}
					}
					.service_repair_gallery{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: 20px;
						li{
							width: 321px;
							flex: 0 0 321px;
							line-height: 1;
							margin-bottom: 7px;
							figure{
								position: relative;
								figcaption{
									font-size: 20px;
									line-height: 1;
									color: #fff;
									position: absolute;
									left: 15px;
									bottom: 10px;
								}
								img{
									width: 100%;
								}
							}
						}
					}
					.service_repair_list{
						padding: 0 7px;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: 30px;
						dl{
							width: 205px;
							flex: 0 0 205px;	
							padding: 10px 7px 15px;
							border: 1px solid #000;
							margin-bottom: 13px;
							dt{
								font-size: 2.5rem;
								line-height: 3rem;
								color: #ED7700;
								min-height: 60px;
								text-align: center;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-bottom: 10px;
							}
							dd{
								font-size: 1.2rem;
								line-height: 1.7rem;
							}
						}
					}
				}
				&.service_new{
					&:before{
						background: url(../images/ic_new.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 138px;
								}
							}
						}
					}
				}
				&.service_pur{
					&:before{
						background: url(../images/ic_pur.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 138px;
								}
							}
						}
					}
				}
				&.service_insur{
					&:before{
						background: url(../images/ic_insur.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 200px;
								}
							}
						}
					}
				}
				&.service_car1{
					&:before{
						background: url(../images/ic_insur.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 138px;
								}
							}
						}
					}
				}
				&.service_car2{
					&:before{
						background: url(../images/ic_car2.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 283px;
								}
							}
						}
					}
				}
				&.service_car3{
					&:before{
						background: url(../images/ic_car3.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 321px;
								}
							}
						}
					}
				}
				&.service_repair{
					&:before{
						background: url(../images/ic_repair.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: 288px;
								}
							}
						}
					}
				}
			}
		}
	}
}
