@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.service{
	.ttl{
	  background: url(../images/service_banner.jpg) center center no-repeat;
	  background-size: cover;
	}
	&.service3, &.service4{
		.ttl{
		  background: url(../images/service_banner2.jpg) center center no-repeat;
		  background-size: cover;
		}
	}
	&_inner{
		padding: vw(118) 0 vw(206);
		background: url(../images/bg_service.jpg) top center no-repeat;
		background-size: cover;
		&_list{
			margin: 0 auto;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			padding-bottom: vw(35);
			.service_box{
				padding: vw(60) vw(5) vw(30) vw(115);
				position: relative;
				&:not(:last-child){
					border-bottom: 1px dashed #000;
				}
				&:before{
					content: '';
					width: vw(100);
					height: vw(100);
					position: absolute;
					left: vw(5);
					top: vw(40);
					display: inline-block;
					background: url(../images/ic_use.png) no-repeat;
					background-size: contain;
				}
				dt{
					margin-bottom: vw(30);
					h3{
						img{
							margin-bottom: vw(20);
							width: vw(335);
						}
						span{
							display: block;
							font-size: vw(41);
							line-height: 1.5;
							color: #ED7700;
							font-weight: 500;
						}
					}
					figure{
						display: none;
					}
				}
				dd{
					p{
						font-size: vw(23);
						line-height: 1.5;
						margin-bottom: vw(20);
						font-weight: 400;
						text-align: justify;
					}
					a{
						margin-bottom: vw(20);
						display: block;
						img{
							width: vw(215);
						}
					}
					.service_repair_gallery{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: vw(40);
						li{
							width: 100%;
							flex: 0 0 100%;
							line-height: 1;
							margin-bottom: vw(20);
							figure{
								position: relative;
								figcaption{
									font-size: vw(40);
									line-height: 1;
									color: #fff;
									position: absolute;
									left: vw(25);
									bottom: vw(15);
								}
								img{
									width: 100%;
								}
							}
						}
					}
					.service_repair_list{
						padding: 0 vw(10);
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: vw(40);
						dl{
							width: 100%;
							flex: 0 0 100%;	
							padding: vw(15) vw(10) vw(20);
							border: 1px solid #000;
							margin-bottom: vw(20);
							dt{
								font-size: vw(45);
								line-height: 1.5;
								color: #ED7700;
								text-align: center;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-bottom: vw(20);
							}
							dd{
								font-size: vw(22);
								line-height: 1.5;
							}
						}
					}
				}
				&.service_new{
					&:before{
						background: url(../images/ic_new.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(275);
								}
							}
						}
					}
				}
				&.service_pur{
					&:before{
						background: url(../images/ic_pur.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(275);
								}
							}
						}
					}
				}
				&.service_insur{
					&:before{
						background: url(../images/ic_insur.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(399);
								}
							}
						}
					}
				}
				&.service_car1{
					&:before{
						background: url(../images/ic_insur.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(275);
								}
							}
						}
					}
				}
				&.service_car2{
					&:before{
						background: url(../images/ic_car2.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(565);
								}
							}
						}
					}
				}
				&.service_car3{
					&:before{
						background: url(../images/ic_car3.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(575);
								}
							}
						}
					}
				}
				&.service_repair{
					&:before{
						background: url(../images/ic_repair.png) no-repeat;
						background-size: contain;
					}
					&.service_box{
						dt{
							h3{
								img{
									width: vw(600);
								}
							}
						}
					}
				}
			}
		}
	}
}
