@media screen and (min-width: 769px), print {
  .inspect .ttl {
    background: url("../images/inspect_banner.jpg") center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .inspect .ttl .ttl_inner {
    color: #000;
  }
  .inspect_inner {
    padding: 118px 0 82px;
    background: url("../images/bg_service.jpg") top center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .inspect_inner_list {
    width: 752px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-bottom: 35px;
  }
  .inspect_inner_list dl {
    padding: 25px 5px 0 95px;
    position: relative;
  }
  .inspect_inner_list dl:before {
    content: '';
    width: 67px;
    height: 67px;
    position: absolute;
    left: 5px;
    top: 25px;
    display: inline-block;
    background: url("../images/icon_car.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .inspect_inner_list dl dt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .inspect_inner_list dl dt h3 img {
    margin-bottom: 10px;
    width: 168px;
  }
  .inspect_inner_list dl dt h3 span {
    display: block;
    font-size: 2.1rem;
    line-height: 1;
    color: #ED7700;
    font-weight: 500;
  }
  .inspect_inner_list dl dd p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: justify;
  }
  .inspect_inner_list dl dd figure {
    text-align: center;
  }
  .inspect_inner_list dl dd figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .inspect_inner_list dl dd a {
    margin-top: 24px;
    display: block;
    text-align: center;
    line-height: 0;
  }
  .inspect_inner_list dl dd a img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .inspect .ttl {
    background: url("../images/inspect_banner.jpg") center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .inspect .ttl .ttl_inner {
    color: #000;
  }
  .inspect_inner {
    padding: 15.36458vw 0 26.82292vw;
    background: url(../images/bg_service.jpg) top center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .inspect_inner_list {
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-bottom: 4.55729vw;
  }
  .inspect_inner_list dl {
    padding: 7.8125vw 0.65104vw 3.90625vw 14.97396vw;
    position: relative;
  }
  .inspect_inner_list dl:before {
    content: '';
    width: 13.02083vw;
    height: 13.02083vw;
    position: absolute;
    left: 0.65104vw;
    top: 5.20833vw;
    display: inline-block;
    background: url(../images/icon_car.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .inspect_inner_list dl dt {
    margin-bottom: 3.90625vw;
  }
  .inspect_inner_list dl dt h3 img {
    margin-bottom: 2.60417vw;
    width: 43.61979vw;
  }
  .inspect_inner_list dl dt h3 span {
    display: block;
    font-size: 5.33854vw;
    line-height: 1.5;
    color: #ED7700;
    font-weight: 500;
  }
  .inspect_inner_list dl dt figure {
    display: none;
  }
  .inspect_inner_list dl dd p {
    font-size: 2.99479vw;
    line-height: 1.5;
    margin-bottom: 2.60417vw;
    font-weight: 400;
    text-align: justify;
  }
  .inspect_inner_list dl dd figure {
    text-align: center;
  }
  .inspect_inner_list dl dd figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .inspect_inner_list dl dd a {
    margin-top: 2.60417vw;
    display: block;
  }
  .inspect_inner_list dl dd a img {
    width: 100%;
  }
}
