@charset "UTF-8";
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  /* font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
  font-family: '小塚ゴシック Pr6N','Kozuka Gothic Pr6N',"ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

figure, picture {
  font-size: 0;
}

picture {
  display: block;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px), print {
  header.fixed .bx_header_bottom {
    border-top: 6px solid #ec6e00;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 199;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    min-width: 1160px;
  }
  header .bx_header {
    /*  padding-top: 90px; */
  }
  header .bx_header_top {
    border-top: 6px solid #ec6e00;
    padding: 29px 0 15px;
  }
  header .bx_header_top .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bx_header_top .hd_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bx_header_top .hd_right_ctn {
    padding-right: 30px;
  }
  header .bx_header_top .hd_right_ctn p {
    font-size: 3rem;
    line-height: 32px;
    color: #eb6100;
    font-weight: 400;
  }
  header .bx_header_top .hd_right_ctn p .tel {
    pointer-events: none;
    color: #eb6100;
  }
  header .bx_header_top .hd_right_ctn p span {
    display: inline-block;
    letter-spacing: 1px;
  }
  header .bx_header_top .hd_right_ctn p span + span {
    margin-left: 30px;
  }
  header .bx_header_top .hd_right_ctn em {
    font-size: 1.4rem;
    line-height: 24px;
    color: #231815;
    display: block;
    text-align: right;
    font-style: normal;
  }
  header .bx_header_top .hd_right_btn .btn_ct {
    width: 156px;
    height: 38px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-left: 20px;
    background-color: #ec6e00;
    border: 1px solid #ec6e00;
    -moz-border-radius: 4px;
         border-radius: 4px;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  header .bx_header_top .hd_right_btn .btn_ct:before {
    content: "";
    background: url(../images/mail.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 22px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
  }
  header .bx_header_top .hd_right_btn .btn_ct:after {
    content: '';
    width: 0%;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
    -moz-border-radius: 3px;
         border-radius: 3px;
  }
  header .bx_header_top .hd_right_btn .btn_ct:hover {
    border: 1px solid #ec6e00;
    color: #ec6e00;
  }
  header .bx_header_top .hd_right_btn .btn_ct:hover:before {
    background: url(../images/mail_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  header .bx_header_top .hd_right_btn .btn_ct:hover:after {
    width: 100%;
    left: 0;
  }
  header .bx_header_bottom .nav {
    padding: 16px 0;
  }
  header .bx_header_bottom .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bx_header_bottom .nav ul li {
    position: relative;
  }
  header .bx_header_bottom .nav ul li:before {
    content: "";
    background: url(../images/line.png) no-repeat;
    width: 23px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: -10px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(1) a span:before {
    background: url(../images/home.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 34px;
    height: 31px;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(2) a span:before {
    background: url(../images/wrench.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 32px;
    height: 32px;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(3) a span:before {
    background: url(../images/apartment.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 31px;
    height: 33px;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(4):after {
    content: "";
    background: url(../images/line.png) no-repeat;
    width: 23px;
    height: 36px;
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .bx_header_bottom .nav ul li:nth-of-type(4) a span:before {
    background: url(../images/users.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 34px;
    height: 26px;
  }
  header .bx_header_bottom .nav ul li a {
    font-size: 1.6rem;
    line-height: 1;
    padding: 15px 20px 10px 35px;
    display: block;
    position: relative;
    -webkit-transform: skew(-32deg);
       -moz-transform: skew(-32deg);
        -ms-transform: skew(-32deg);
            transform: skew(-32deg);
  }
  header .bx_header_bottom .nav ul li a:after {
    content: '';
    width: 0%;
    height: 43px;
    background: #000;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    transition: width .6s ease;
    z-index: -1;
  }
  header .bx_header_bottom .nav ul li a span {
    display: block;
    padding-left: 40px;
    -webkit-transform: skew(32deg);
       -moz-transform: skew(32deg);
        -ms-transform: skew(32deg);
            transform: skew(32deg);
  }
  header .bx_header_bottom .nav ul li a span:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  header .bx_header_bottom .nav ul li:hover a {
    color: #fff;
  }
  header .bx_header_bottom .nav ul li:hover a:after {
    width: 101%;
    left: 1px;
  }
  header .bx_header_bottom .nav ul li:hover:nth-of-type(1) a span:before {
    background: url(../images/home_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  header .bx_header_bottom .nav ul li:hover:nth-of-type(2) a span:before {
    background: url(../images/wrench_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  header .bx_header_bottom .nav ul li:hover:nth-of-type(3) a span:before {
    background: url(../images/apartment_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  header .bx_header_bottom .nav ul li:hover:nth-of-type(4) a span:before {
    background: url(../images/users_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  footer {
    background-color: #231815;
    border-top: 6px solid #ec6e00;
  }
  footer .footer_pagetop .row {
    position: relative;
  }
  footer .footer_pagetop .row .gotop {
    position: absolute;
    bottom: 35px;
    right: 0;
  }
  footer .top_ft {
    padding: 40px 0 80px;
  }
  footer .top_ft .nav_ft {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  footer .top_ft .nav_ft li {
    position: relative;
  }
  footer .top_ft .nav_ft li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  footer .top_ft .nav_ft li a {
    font-size: 1.6rem;
    line-height: 1;
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #fff;
  }
  footer .top_ft .nav_ft li a:hover {
    opacity: 0.8;
  }
  footer .top_ft .bx_aff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .top_ft .bx_aff_left .ttl_aff {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 30px;
  }
  footer .top_ft .bx_aff_left ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .top_ft .bx_aff_left ul li:not(:last-child) {
    margin-bottom: 36px;
  }
  footer .top_ft .bx_aff_left ul li figure {
    width: 156px;
  }
  footer .top_ft .bx_aff_left ul li figure img {
    width: 100%;
    height: auto;
  }
  footer .top_ft .bx_aff_left ul li em {
    width: -webkit-calc(100% - 156px);
    width: -moz-calc(100% - 156px);
    width: calc(100% - 156px);
    font-style: normal;
    color: #fff;
    padding-left: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 29px;
    font-size: 1.5rem;
  }
  footer .top_ft .bx_aff_right {
    width: 500px;
    text-align: right;
  }
  footer .top_ft .bx_aff_right iframe {
    height: 350px;
  }
  footer .bottom_ft {
    background-color: #EC6E00;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 50px;
  }
  footer .bottom_ft .n_bt li {
    display: inline-block;
  }
  footer .bottom_ft .n_bt li:not(:last-child) {
    margin-right: 23px;
  }
  footer .bottom_ft .n_bt li a {
    font-size: 1.6rem;
    line-height: 1;
    display: block;
    position: relative;
    color: #fff;
  }
  footer .bottom_ft .copyright {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1;
  }
  .show_sp {
    display: none !important;
  }
  .row {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
  .container {
    min-width: 1160px;
    overflow: hidden;
  }
  .ttl {
    height: 363px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: url('../images/bkg_ttl.png') center center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ttl_inner {
    font-size: 2rem;
    line-height: 1;
    width: 392px;
    color: #fff;
    padding-bottom: 10px;
    margin-left: 245px;
    border-bottom: 1px solid #EC6E00;
  }
}

@media screen and (max-width: 768px) {
  header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background-color: #fff;
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  header .bx_header {
    /*  padding-top: 90px; */
  }
  header .bx_header_top {
    border-top: 0.78125vw solid #ec6e00;
    padding: 3.25521vw 0;
  }
  header .bx_header_top .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bx_header_top .logo a {
    display: block;
    line-height: 1;
  }
  header .bx_header_top .logo a img {
    width: 32.42188vw;
    height: 7.42188vw;
  }
  header .bx_header_top .hd_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .bx_header_top .hd_right p {
    font-size: 3.90625vw;
    line-height: 1;
    color: #eb6100;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 5.20833vw;
  }
  header .bx_header_top .hd_right p .tel {
    color: #eb6100;
  }
  header .bx_header_top .hd_right p span {
    display: block;
  }
  header .bx_header_top .hd_right p span + span {
    margin-top: 1.30208vw;
  }
  header .bx_header_top .hd_right .menu.open .icon_menu .icon_inner {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
       -moz-transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
            transform: translate3d(0, 2.34375vw, 0) rotate(135deg);
  }
  header .bx_header_top .hd_right .menu.open .icon_menu .icon_inner::before {
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
  }
  header .bx_header_top .hd_right .menu.open .icon_menu .icon_inner::after {
    -webkit-transition-delay: .1s;
       -moz-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
       -moz-transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
            transform: translate3d(0, -4.6875vw, 0) rotate(-270deg);
  }
  header .bx_header_top .hd_right .menu .icon_menu {
    position: relative;
    width: 7.03125vw;
    height: 5.20833vw;
    cursor: pointer;
  }
  header .bx_header_top .hd_right .menu .icon_menu .icon_inner, header .bx_header_top .hd_right .menu .icon_menu .icon_inner::before, header .bx_header_top .hd_right .menu .icon_menu .icon_inner::after {
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    background: #fb6505;
  }
  header .bx_header_top .hd_right .menu .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
       -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
            transition-duration: .4s;
    display: block;
    top: 0;
    left: 0;
  }
  header .bx_header_top .hd_right .menu .icon_menu .icon_inner::before, header .bx_header_top .hd_right .menu .icon_menu .icon_inner::after {
    content: "";
    display: block;
  }
  header .bx_header_top .hd_right .menu .icon_menu .icon_inner::before {
    top: 2.34375vw;
    -webkit-transition: opacity .15s ease .4s;
    -moz-transition: opacity .15s ease .4s;
    transition: opacity .15s ease .4s;
  }
  header .bx_header_top .hd_right .menu .icon_menu .icon_inner::after {
    top: 4.6875vw;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -moz-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  header .bx_header_bottom .nav {
    position: absolute;
    left: 0;
    z-index: 999;
    width: 100%;
    overflow: scroll;
    visibility: visible;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: scroll;
    opacity: 0;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .bx_header_bottom .nav.open {
    opacity: 1;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    visibility: visible;
  }
  header .bx_header_bottom .nav ul {
    margin: 0 -3.90625vw;
  }
  header .bx_header_bottom .nav ul li {
    position: relative;
    text-align: center;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(1) a span:before {
    background: url(../images/home_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 8.85417vw;
    height: 8.07292vw;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(2) a span:before {
    background: url(../images/wrench_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 8.07292vw;
    height: 8.07292vw;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(3) a span:before {
    background: url(../images/apartment_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 8.07292vw;
    height: 8.59375vw;
  }
  header .bx_header_bottom .nav ul li:nth-of-type(4) a span:before {
    background: url(../images/users_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 8.85417vw;
    height: 6.77083vw;
  }
  header .bx_header_bottom .nav ul li a {
    font-size: 4.16667vw;
    line-height: 1;
    padding: 6.51042vw 0;
    display: block;
    color: #fff;
    position: relative;
    background-color: #000;
    border-bottom: 1px solid #fff;
  }
  header .bx_header_bottom .nav ul li a span {
    position: relative;
    display: inline-block;
    padding-left: 11.71875vw;
  }
  header .bx_header_bottom .nav ul li a span:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  header .bx_header_bottom .nav .hd_right_btn {
    margin: 0 -3.90625vw;
    text-align: center;
  }
  header .bx_header_bottom .nav .hd_right_btn a {
    font-size: 4.16667vw;
    line-height: 1;
    padding: 6.51042vw 0;
    display: block;
    color: #fff;
    position: relative;
    background-color: #ec6e00;
    border-bottom: 1px solid #fff;
  }
  header .bx_header_bottom .nav .hd_right_btn a span {
    position: relative;
    display: inline-block;
    padding-left: 11.71875vw;
  }
  header .bx_header_bottom .nav .hd_right_btn a span:before {
    content: "";
    background: url(../images/mail.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 5.72917vw;
    height: 4.16667vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 2.60417vw;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
  }
  footer {
    background-color: #231815;
    border-top: 0.78125vw solid #ec6e00;
  }
  footer .footer_pagetop .row {
    position: relative;
  }
  footer .footer_pagetop .row .gotop {
    position: absolute;
    bottom: 10.41667vw;
    right: 3.90625vw;
  }
  footer .footer_pagetop .row .gotop img {
    width: 8.85417vw;
    height: 8.85417vw;
  }
  footer .top_ft {
    padding: 5.20833vw 0 10.41667vw;
  }
  footer .top_ft .bx_aff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .top_ft .bx_aff_left {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .top_ft .bx_aff_left .ttl_aff {
    font-size: 5.85938vw;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 9.11458vw;
    text-align: center;
  }
  footer .top_ft .bx_aff_left ul li {
    text-align: center;
  }
  footer .top_ft .bx_aff_left ul li:not(:last-child) {
    margin-bottom: 7.8125vw;
  }
  footer .top_ft .bx_aff_left ul li figure img {
    width: 40.75521vw;
    height: auto;
  }
  footer .top_ft .bx_aff_left ul li em {
    display: block;
    margin-top: 3.90625vw;
    font-style: normal;
    color: #fff;
    line-height: 1.5;
    font-size: 3.64583vw;
  }
  footer .top_ft .bx_aff_right {
    margin-bottom: 6.51042vw;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    /* overflow: hidden; */
  }
  footer .top_ft .bx_aff_right iframe {
    max-width: 100% !important;
  }
  footer .bottom_ft {
    background-color: #EC6E00;
    padding: 2.60417vw 6.51042vw;
    text-align: center;
  }
  footer .bottom_ft .n_bt li {
    display: inline-block;
  }
  footer .bottom_ft .n_bt li:not(:last-child) {
    margin-right: 3.90625vw;
  }
  footer .bottom_ft .n_bt li a {
    font-size: 3.125vw;
    line-height: 1;
    display: block;
    position: relative;
    color: #fff;
  }
  footer .bottom_ft .copyright {
    color: #fff;
    margin-top: 1.30208vw;
    font-size: 2.34375vw;
  }
  .show_pc {
    display: none !important;
  }
  .row {
    padding: 0 5.20833vw;
  }
  .ttl {
    height: 47.26563vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: url('../images/bkg_ttl.png') center center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ttl_inner {
    font-size: 5.20833vw;
    line-height: 1;
    color: #fff;
    padding-bottom: 1.30208vw;
    border-bottom: 1px solid #EC6E00;
  }
}
