@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.inspect {
  .ttl {
    background: url('../images/inspect_banner.jpg') center center no-repeat;
    background-size: cover;
    .ttl_inner {
      color: #000;
    }
  }
  &_inner{
    padding: vw(118) 0 vw(206);
    background: url(../images/bg_service.jpg) top center no-repeat;
    background-size: cover;
    &_list{
      margin: 0 auto;
      border-top: 1px solid #000;
      padding-bottom: vw(35);
      dl {
        padding: vw(60) vw(5) vw(30) vw(115);
        position: relative;
        &:before{
          content: '';
          width: vw(100);
          height: vw(100);
          position: absolute;
          left: vw(5);
          top: vw(40);
          display: inline-block;
          background: url(../images/icon_car.png) no-repeat;
          background-size: contain;
        }
        dt{
          margin-bottom: vw(30);
          h3{
            img{
              margin-bottom: vw(20);
              width: vw(335);
            }
            span{
              display: block;
              font-size: vw(41);
              line-height: 1.5;
              color: #ED7700;
              font-weight: 500;
            }
          }
          figure{
            display: none;
          }
        }
        dd{
          p{
            font-size: vw(23);
            line-height: 1.5;
            margin-bottom: vw(20);
            font-weight: 400;
            text-align: justify;
          }
          figure {
            text-align: center;
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          a{
            margin-top: vw(20);
            display: block;
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
}