@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.inspect {
  .ttl {
    background: url('../images/inspect_banner.jpg') center center no-repeat;
    background-size: cover;
    .ttl_inner {
      color: #000;
    }
  }
  &_inner {
    padding: 118px 0 82px;
    background: url('../images/bg_service.jpg') top center no-repeat;
    background-size: cover;
    &_list {
      width: 752px;
      margin: 0 auto;
      border-top: 1px solid #000;
      padding-bottom: 35px;
      dl {
        padding: 25px 5px 0 95px;
        position: relative;
        &:before{
          content: '';
          width: 67px;
          height: 67px;
          position: absolute;
          left: 5px;
          top: 25px;
          display: inline-block;
          background: url('../images/icon_car.png') no-repeat;
          background-size: contain;
        }
        dt{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          h3{
            img{
              margin-bottom: 10px;
              width: 168px;
            }
            span{
              display: block;
              font-size: 2.1rem;
              line-height: 1;
              color: #ED7700;
              font-weight: 500;
            }
          }
        }
        dd{
          p{
            font-size: 1.3rem;
            line-height: 2rem;
            margin-bottom: 20px;
            font-weight: 400;
            text-align: justify;
          }
          figure {
            text-align: center;
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          a{
            margin-top: 24px;
            display: block;
            text-align: center;
            line-height: 0;
            img{
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
  }
}