@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl{
  background: url(../images/bkg_ttl.png) center center no-repeat;
  background-size: cover;
}
.company{
  .gr_company{
    padding: vw(80) 0;
    ul{
      li{
        display:flex;
        align-items: center;
        padding: vw(30) 0;
        border-bottom: 1px solid #000;
        &:first-of-type{
          border-top: 1px solid #000;
        }
        &:nth-of-type(5){
          span{
            &:after{
              content:none;
            }
          }
          .sub_li{
            li{
              border: none;
              font-size: vw(28);
              line-height: 1.5;
              display: block;
              padding: 0 0 0 vw(30);
              font-style: normal;
              position: relative;
              &:after{
                content:"";
                width: 2px;
                height: vw(60);
                background-color: #EC6E00;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
              }
            }
          }
        }
        span{
          font-size: vw(28);
          line-height: 1.5;
          display: block;
          width: vw(220);
          position: relative;
          text-align: center;
          &:after{
            content:"";
            width: 2px;
            height: vw(60);
            background-color: #EC6E00;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }
        em{
          font-size: vw(28);
          line-height: 1.5;
          display: block;
          padding-left: vw(30);
          font-style: normal;
          width: calc(100% - #{vw(220)});
        }
      }
    }
  }
}