@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.ttl{
  background: url(../images/bkg_ttl.png) center center no-repeat;
  background-size: cover;
}
.company{
  .gr_company{
    padding: 120px 0;
    .row{
      max-width: 752px;
      margin: 0 auto;
    }
    ul{
      li{
        display:flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #000;
        &:first-of-type{
          border-top: 1px solid #000;
        }
        &:nth-of-type(5){
          span{
            &:after{
              content:none;
            }
          }
          .sub_li{
            li{
              border: none;
              font-size: rem(15);
              line-height: 29px;
              display: block;
              padding: 0 0 0 45px;
              font-style: normal;
              position: relative;
              &:after{
                content:"";
                width: 3px;
                height: 33px;
                background-color: #EC6E00;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
              }
            }
          }
        }
        span{
          font-size: rem(15);
          line-height: 18px;
          display: block;
          width: 190px;
          position: relative;
          text-align: center;
          &:after{
            content:"";
            width: 3px;
            height: 33px;
            background-color: #EC6E00;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }
        em{
          font-size: rem(15);
          line-height: 29px;
          display: block;
          padding-left: 45px;
          font-style: normal;
          width: calc(1005 - 190px);
        }
      }
    }
  }
}