@charset "UTF-8";
@media screen and (min-width: 769px), print {
  .fv {
    position: relative;
    z-index: 10;
  }
  .fv_under ul {
    width: 100%;
    height: 0;
    padding-top: 40.63492%;
    position: relative;
    overflow: hidden;
  }
  .fv_under ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    line-height: 0;
  }
  .fv_under ul li img {
    width: 100%;
    height: auto;
  }
  .fv_front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url("../images/mask.png") 0 0 repeat rgba(50, 50, 50, 0.6);
    text-align: center;
    padding-bottom: 5.63492%;
  }
  .fv_front h2 {
    font-size: 0;
  }
  .news {
    position: relative;
    z-index: 15;
    padding: 3.1746% 0 7.93651%;
  }
  .news::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    left: 0;
    top: 0;
    margin-top: -3.25397%;
    -webkit-transform: skewY(-3deg);
       -moz-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
            transform: skewY(-3deg);
  }
  .news_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_ttl {
    text-align: center;
    width: 368px;
  }
  .news_ttl h2 {
    font-size: 4.6rem;
    line-height: 0.8;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ec6e00;
  }
  .news_ttl p {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 200;
    margin-top: 20px;
  }
  .news_list {
    width: 368px;
  }
  .news_list li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .news_list li a time {
    font-size: 1.4rem;
    line-height: 42px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 115px;
  }
  .news_list li a span {
    width: -webkit-calc(100% - 115px);
    width: -moz-calc(100% - 115px);
    width: calc(100% - 115px);
    font-size: 1.4rem;
    line-height: 42px;
    font-weight: 300;
  }
  .news_btn {
    width: 368px;
    text-align: center;
    font-size: 0;
  }
  .news_btn a {
    display: inline-block;
    background: #ec6e00;
    color: #fff;
    font-size: 1.4rem;
    line-height: 3rem;
    -moz-border-radius: 4px;
         border-radius: 4px;
    font-weight: 300;
    padding: 0 21px 0 18px;
  }
  .news_btn a::after {
    position: relative;
    content: "";
    width: 6px;
    height: 9px;
    background: url("../common/images/arrow@2x.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-left: 12px;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .news_btn a:hover::after {
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
  }
  .company {
    position: relative;
    z-index: 14;
    margin-top: -5.63492%;
  }
  .company::before {
    position: absolute;
    content: "";
    z-index: 2;
    width: 50%;
    height: 100%;
    background: url("../images/mask.png") 0 0 repeat rgba(236, 110, 0, 0.97);
  }
  .company figure {
    line-height: 0;
    z-index: 1;
  }
  .company figure img {
    width: 100%;
    height: auto;
  }
  .company_pos {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .company_main {
    height: 100%;
  }
  .company_main_l {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .company_main_l * {
    text-align: center;
  }
  .company_main_l h2 {
    font-size: 4.6rem;
    line-height: 0.8;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
  }
  .company_main_l span {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    margin-top: 25px;
  }
  .company_main_l p {
    font-size: 1.8rem;
    line-height: 38px;
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
  }
  .company_main_l ._btn {
    margin-top: 30px;
  }
  .company_main_l ._btn a {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    line-height: 3rem;
    -moz-border-radius: 4px;
         border-radius: 4px;
    font-weight: 300;
    padding: 0 15px 0 16px;
    border: 1px solid #fff;
  }
  .company_main_l ._btn a::after {
    position: relative;
    content: "";
    width: 6px;
    height: 9px;
    background: url("../common/images/arrow@2x.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-left: 12px;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .company_main_l ._btn a:hover::after {
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
  }
  .service {
    position: relative;
    z-index: 13;
  }
  .service_top {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    z-index: 2;
    padding: 3.96825% 0 7.93651%;
  }
  .service_top::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../images/bg_service.jpg") 0 0 repeat;
    left: 0;
    top: 0;
    margin-top: -3.1746%;
    -webkit-transform: skewY(-3deg);
       -moz-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
            transform: skewY(-3deg);
  }
  .service_ttl {
    text-align: center;
  }
  .service_ttl h2 {
    font-size: 4.6rem;
    line-height: 0.8;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ec6e00;
  }
  .service_ttl span {
    color: #ec6e00;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    display: inline-block;
    margin-top: 25px;
  }
  .service_c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 41px;
  }
  .service_box {
    width: 365px;
    background: #f5f5f5;
    -moz-border-radius: 4px;
         border-radius: 4px;
    overflow: hidden;
  }
  .service_box > a {
    display: block;
    height: 100%;
  }
  .service_box_t {
    position: relative;
  }
  .service_box_t figure {
    line-height: 0;
  }
  .service_box_t figure img {
    width: 100%;
    height: auto;
  }
  .service_box_t p {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    bottom: 0;
    font-size: 0;
  }
  .service_box_b {
    font-size: 1.8rem;
    line-height: 32px;
    font-weight: 500;
    padding: 20px 0 20px 30px;
  }
  .service_ex {
    margin-top: 69px;
  }
  .service_ex p {
    font-size: 3.1rem;
    line-height: 41px;
    font-weight: bold;
    color: #fff;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
    text-align: center;
  }
  .service_ex p span {
    font-size: 4.1rem;
    color: #ec6e00;
  }
  .service_ex ul {
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service_ex ul li:not(:last-child) {
    margin-right: 100px;
  }
  .service_ex ul li a {
    display: block;
  }
  .service_ex ul li a img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .service_bottom {
    position: relative;
    z-index: 1;
    margin-top: -6.26984%;
  }
  .service_bottom ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service_bottom ul li {
    width: 33.4%;
    line-height: 0;
  }
  .service_bottom ul li img {
    width: 100%;
    height: auto;
  }
  .partner {
    padding: 70px 0;
  }
  .partner ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partner ul li {
    width: 367px;
  }
  .partner ul li a {
    display: block;
    font-size: 0;
  }
  .partner ul li a img {
    width: 100%;
    height: auto;
  }
  .map {
    line-height: 0;
  }
  .map iframe {
    width: 100%;
    height: 520px;
  }
}

@media screen and (max-width: 768px) {
  .fv {
    position: relative;
    z-index: 10;
  }
  .fv_under ul {
    width: 100%;
    height: 0;
    padding-top: 40.63492%;
    position: relative;
    overflow: hidden;
  }
  .fv_under ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    line-height: 0;
  }
  .fv_under ul li img {
    width: 100%;
    height: auto;
  }
  .fv_front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url("../images/mask.png") 0 0 repeat rgba(50, 50, 50, 0.6);
    text-align: center;
    padding-bottom: 5.63492%;
  }
  .fv_front h2 {
    font-size: 0;
    padding: 0 3.90625vw;
    text-align: center;
  }
  .fv_front h2 img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .news {
    position: relative;
    z-index: 10;
    padding: 3.1746% 0 7.93651%;
  }
  .news::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    left: 0;
    top: 0;
    margin-top: -3.25397%;
    -webkit-transform: skewY(-3deg);
       -moz-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
            transform: skewY(-3deg);
  }
  .news_ttl {
    text-align: center;
  }
  .news_ttl h2 {
    font-size: 5.98958vw;
    line-height: 0.8;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ec6e00;
  }
  .news_ttl p {
    font-size: 3.125vw;
    line-height: 1;
    font-weight: 200;
    margin-top: 2.60417vw;
  }
  .news_list {
    margin-top: 5.20833vw;
  }
  .news_list li {
    padding: 2.60417vw 0;
  }
  .news_list li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .news_list li a time {
    font-size: 3.64583vw;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 26.04167vw;
  }
  .news_list li a span {
    width: -webkit-calc(100% - 26.04167vw);
    width: -moz-calc(100% - 26.04167vw);
    width: calc(100% - 26.04167vw);
    font-size: 3.64583vw;
    line-height: 1.5;
    font-weight: 300;
  }
  .news_btn {
    text-align: center;
    font-size: 0;
    margin-top: 5.20833vw;
  }
  .news_btn a {
    display: inline-block;
    background: #ec6e00;
    color: #fff;
    font-size: 3.64583vw;
    line-height: 2;
    -moz-border-radius: 4px;
         border-radius: 4px;
    font-weight: 300;
    padding: 0 5.20833vw;
  }
  .news_btn a::after {
    position: relative;
    content: "";
    width: 1.17188vw;
    height: 1.75781vw;
    background: url("../common/images/arrow@2x.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-left: 2.34375vw;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .company {
    position: relative;
    z-index: 14;
  }
  .company figure {
    line-height: 0;
    z-index: 1;
  }
  .company figure img {
    width: 100%;
    height: auto;
  }
  .company_pos {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    background: url("../images/mask.png") 0 0 repeat #ec6e00;
    padding: 0 0 15.625vw;
  }
  .company_pos::before {
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url("../images/mask.png") 0 0 repeat #ec6e00;
    z-index: -1;
    -webkit-transform: skewY(-8.8deg) translateY(-5.33854vw);
       -moz-transform: skewY(-8.8deg) translateY(-5.33854vw);
        -ms-transform: skewY(-8.8deg) translateY(-5.33854vw);
            transform: skewY(-8.8deg) translateY(-5.33854vw);
  }
  .company_main_l {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .company_main_l * {
    text-align: center;
  }
  .company_main_l h2 {
    font-size: 5.98958vw;
    line-height: 0.8;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
  }
  .company_main_l span {
    font-size: 3.90625vw;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    margin-top: 3.25521vw;
  }
  .company_main_l p {
    font-size: 3.64583vw;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin-top: 3.90625vw;
  }
  .company_main_l ._btn {
    margin-top: 5.20833vw;
  }
  .company_main_l ._btn a {
    display: inline-block;
    color: #fff;
    font-size: 3.64583vw;
    line-height: 2;
    -moz-border-radius: 4px;
         border-radius: 4px;
    font-weight: 300;
    padding: 0 3.90625vw;
    border: 1px solid #fff;
  }
  .company_main_l ._btn a::after {
    position: relative;
    content: "";
    width: 1.17188vw;
    height: 1.75781vw;
    background: url("../common/images/arrow@2x.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-left: 2.34375vw;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .service {
    position: relative;
    z-index: 15;
  }
  .service_top {
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    z-index: 2;
    padding: 3.96825% 0 19.84127%;
  }
  .service_top::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../images/bg_service.jpg") 0 0 repeat;
    left: 0;
    top: 0;
    margin-top: -6.34921%;
    -webkit-transform: skewY(-8.8deg);
       -moz-transform: skewY(-8.8deg);
        -ms-transform: skewY(-8.8deg);
            transform: skewY(-8.8deg);
  }
  .service_ttl {
    text-align: center;
  }
  .service_ttl h2 {
    font-size: 5.98958vw;
    line-height: 0.8;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #ec6e00;
  }
  .service_ttl span {
    color: #ec6e00;
    font-size: 3.90625vw;
    line-height: 1;
    font-weight: 400;
    display: inline-block;
    margin-top: 3.25521vw;
  }
  .service_c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5.20833vw;
  }
  .service_box {
    background: #f5f5f5;
    -moz-border-radius: 4px;
         border-radius: 4px;
    overflow: hidden;
    width: 47.52604vw;
  }
  .service_box:not(:first-child) {
    margin-top: 5.20833vw;
  }
  .service_box > a {
    display: block;
    height: 100%;
  }
  .service_box_t {
    position: relative;
  }
  .service_box_t figure {
    line-height: 0;
  }
  .service_box_t figure img {
    width: 100%;
    height: auto;
  }
  .service_box_t p {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    bottom: 0;
  }
  .service_box_t p img {
    max-width: 100%;
    width: auto;
    height: 8.20313vw;
  }
  .service_box_b {
    font-size: 3.125vw;
    line-height: 1.5;
    font-weight: 500;
    padding: 2.60417vw 0 2.60417vw 3.90625vw;
    min-height: 19.53125vw;
  }
  .service_ex {
    margin-top: 5.20833vw;
  }
  .service_ex p {
    font-size: 3.90625vw;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
    text-align: center;
  }
  .service_ex p span {
    font-size: 5.85938vw;
    color: #ec6e00;
  }
  .service_ex ul {
    margin-top: 5.20833vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service_ex ul li {
    width: 47.52604vw;
  }
  .service_ex ul li:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
  .service_ex ul li a {
    display: block;
  }
  .service_ex ul li a img {
    width: 100%;
    height: auto;
  }
  .service_bottom {
    position: relative;
    z-index: 1;
    margin-top: -6.26984%;
    display: none;
  }
  .service_bottom ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service_bottom ul li {
    width: 33.4%;
    line-height: 0;
  }
  .service_bottom ul li img {
    width: 100%;
    height: auto;
  }
  .partner {
    padding: 9.11458vw 0;
  }
  .partner ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partner ul li {
    width: 47.78646vw;
  }
  .partner ul li:not(:first-child) {
    margin-top: 5.20833vw;
  }
  .partner ul li a {
    display: block;
    font-size: 0;
  }
  .partner ul li a img {
    width: 100%;
    height: auto;
  }
  .map iframe {
    width: 100%;
    height: 122.39583vw;
  }
}
