@media screen and (min-width: 769px), print {
  .service .ttl {
    background: url(../images/service_banner.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .service.service3 .ttl, .service.service4 .ttl {
    background: url(../images/service_banner2.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .service_inner {
    padding: 118px 0 206px;
    background: url(../images/bg_service.jpg) top center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .service_inner_list {
    width: 752px;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 35px;
  }
  .service_inner_list .service_box {
    padding: 25px 5px 0 95px;
    position: relative;
  }
  .service_inner_list .service_box:not(:last-child) {
    border-bottom: 1px dashed #000;
  }
  .service_inner_list .service_box:before {
    content: '';
    width: 67px;
    height: 67px;
    position: absolute;
    left: 5px;
    top: 25px;
    display: inline-block;
    background: url(../images/ic_use.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box dt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .service_inner_list .service_box dt h3 img {
    margin-bottom: 10px;
    width: 168px;
  }
  .service_inner_list .service_box dt h3 span {
    display: block;
    font-size: 2.1rem;
    line-height: 1;
    color: #ED7700;
    font-weight: 500;
  }
  .service_inner_list .service_box dd p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: justify;
  }
  .service_inner_list .service_box dd a {
    margin-bottom: 13px;
    display: block;
  }
  .service_inner_list .service_box dd a img {
    width: 89px;
  }
  .service_inner_list .service_box dd .service_repair_gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .service_inner_list .service_box dd .service_repair_gallery li {
    width: 321px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 321px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 321px;
            flex: 0 0 321px;
    line-height: 1;
    margin-bottom: 7px;
  }
  .service_inner_list .service_box dd .service_repair_gallery li figure {
    position: relative;
  }
  .service_inner_list .service_box dd .service_repair_gallery li figure figcaption {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
  .service_inner_list .service_box dd .service_repair_gallery li figure img {
    width: 100%;
  }
  .service_inner_list .service_box dd .service_repair_list {
    padding: 0 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .service_inner_list .service_box dd .service_repair_list dl {
    width: 205px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 205px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 205px;
            flex: 0 0 205px;
    padding: 10px 7px 15px;
    border: 1px solid #000;
    margin-bottom: 13px;
  }
  .service_inner_list .service_box dd .service_repair_list dl dt {
    font-size: 2.5rem;
    line-height: 3rem;
    color: #ED7700;
    min-height: 60px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .service_inner_list .service_box dd .service_repair_list dl dd {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .service_inner_list .service_box.service_new:before {
    background: url(../images/ic_new.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_new.service_box dt h3 img {
    width: 138px;
  }
  .service_inner_list .service_box.service_pur:before {
    background: url(../images/ic_pur.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_pur.service_box dt h3 img {
    width: 138px;
  }
  .service_inner_list .service_box.service_insur:before {
    background: url(../images/ic_insur.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_insur.service_box dt h3 img {
    width: 200px;
  }
  .service_inner_list .service_box.service_car1:before {
    background: url(../images/ic_insur.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_car1.service_box dt h3 img {
    width: 138px;
  }
  .service_inner_list .service_box.service_car2:before {
    background: url(../images/ic_car2.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_car2.service_box dt h3 img {
    width: 283px;
  }
  .service_inner_list .service_box.service_car3:before {
    background: url(../images/ic_car3.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_car3.service_box dt h3 img {
    width: 321px;
  }
  .service_inner_list .service_box.service_repair:before {
    background: url(../images/ic_repair.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_repair.service_box dt h3 img {
    width: 288px;
  }
}

@media screen and (max-width: 768px) {
  .service .ttl {
    background: url(../images/service_banner.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .service.service3 .ttl, .service.service4 .ttl {
    background: url(../images/service_banner2.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .service_inner {
    padding: 15.36458vw 0 26.82292vw;
    background: url(../images/bg_service.jpg) top center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .service_inner_list {
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 4.55729vw;
  }
  .service_inner_list .service_box {
    padding: 7.8125vw 0.65104vw 3.90625vw 14.97396vw;
    position: relative;
  }
  .service_inner_list .service_box:not(:last-child) {
    border-bottom: 1px dashed #000;
  }
  .service_inner_list .service_box:before {
    content: '';
    width: 13.02083vw;
    height: 13.02083vw;
    position: absolute;
    left: 0.65104vw;
    top: 5.20833vw;
    display: inline-block;
    background: url(../images/ic_use.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box dt {
    margin-bottom: 3.90625vw;
  }
  .service_inner_list .service_box dt h3 img {
    margin-bottom: 2.60417vw;
    width: 43.61979vw;
  }
  .service_inner_list .service_box dt h3 span {
    display: block;
    font-size: 5.33854vw;
    line-height: 1.5;
    color: #ED7700;
    font-weight: 500;
  }
  .service_inner_list .service_box dt figure {
    display: none;
  }
  .service_inner_list .service_box dd p {
    font-size: 2.99479vw;
    line-height: 1.5;
    margin-bottom: 2.60417vw;
    font-weight: 400;
    text-align: justify;
  }
  .service_inner_list .service_box dd a {
    margin-bottom: 2.60417vw;
    display: block;
  }
  .service_inner_list .service_box dd a img {
    width: 27.99479vw;
  }
  .service_inner_list .service_box dd .service_repair_gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5.20833vw;
  }
  .service_inner_list .service_box dd .service_repair_gallery li {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    line-height: 1;
    margin-bottom: 2.60417vw;
  }
  .service_inner_list .service_box dd .service_repair_gallery li figure {
    position: relative;
  }
  .service_inner_list .service_box dd .service_repair_gallery li figure figcaption {
    font-size: 5.20833vw;
    line-height: 1;
    color: #fff;
    position: absolute;
    left: 3.25521vw;
    bottom: 1.95313vw;
  }
  .service_inner_list .service_box dd .service_repair_gallery li figure img {
    width: 100%;
  }
  .service_inner_list .service_box dd .service_repair_list {
    padding: 0 1.30208vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5.20833vw;
  }
  .service_inner_list .service_box dd .service_repair_list dl {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 1.95313vw 1.30208vw 2.60417vw;
    border: 1px solid #000;
    margin-bottom: 2.60417vw;
  }
  .service_inner_list .service_box dd .service_repair_list dl dt {
    font-size: 5.85938vw;
    line-height: 1.5;
    color: #ED7700;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.60417vw;
  }
  .service_inner_list .service_box dd .service_repair_list dl dd {
    font-size: 2.86458vw;
    line-height: 1.5;
  }
  .service_inner_list .service_box.service_new:before {
    background: url(../images/ic_new.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_new.service_box dt h3 img {
    width: 35.80729vw;
  }
  .service_inner_list .service_box.service_pur:before {
    background: url(../images/ic_pur.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_pur.service_box dt h3 img {
    width: 35.80729vw;
  }
  .service_inner_list .service_box.service_insur:before {
    background: url(../images/ic_insur.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_insur.service_box dt h3 img {
    width: 51.95313vw;
  }
  .service_inner_list .service_box.service_car1:before {
    background: url(../images/ic_insur.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_car1.service_box dt h3 img {
    width: 35.80729vw;
  }
  .service_inner_list .service_box.service_car2:before {
    background: url(../images/ic_car2.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_car2.service_box dt h3 img {
    width: 73.56771vw;
  }
  .service_inner_list .service_box.service_car3:before {
    background: url(../images/ic_car3.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_car3.service_box dt h3 img {
    width: 74.86979vw;
  }
  .service_inner_list .service_box.service_repair:before {
    background: url(../images/ic_repair.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .service_inner_list .service_box.service_repair.service_box dt h3 img {
    width: 78.125vw;
  }
}
