@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
.container{
  min-width: 1160px;
  overflow: hidden;
}

.ttl{
  height: 363px;
  display: flex;
  align-items: center;
  &_inner{
    font-size: 2rem;
    line-height: 1;
    width: 392px;
    color: #fff;
    padding-bottom: 10px;
    margin-left: 245px;
    border-bottom: 1px solid #EC6E00;
  }
}