@charset "utf-8";
// ===================================================================
//	common_sp.css
// ===================================================================
.show_pc {
  display: none !important;
}

.row {
  padding: 0 vw(40);
}

.ttl{
  height: vw(363);
  display: flex;
  align-items: center;
  &_inner{
    font-size: vw(40);
    line-height: 1;
    color: #fff;
    padding-bottom: vw(10);
    border-bottom: 1px solid #EC6E00;
  }
}