footer{
  background-color: #231815;
  border-top: 6px solid #ec6e00;
  .footer_pagetop{
    .row{
      position: relative;
      .gotop{
        position: absolute;
        bottom: 35px;
        right: 0;
      }
    }
  }
  .top_ft{
    padding: 40px 0 80px;
    .nav_ft{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      li{
        position: relative;
        &:not(:last-child){
          &:after{
            content:"";
            width: 1px;
            height: 18px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
        a{
          font-size: 1.6rem;
          line-height: 1;
          padding: 10px 20px;
          display: block;
          position: relative;
          color: #fff;
          &:hover{
            opacity:0.8;
          }
        }
      }
    }
    .bx_aff{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_left{
      .ttl_aff{
        font-size: rem(20);
        color: #fff;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 30px;
      }
        ul{
          li{
            display: flex;
            &:not(:last-child){
              margin-bottom: 36px;
            }
            figure{
              width: 156px;
              img{
                width: 100%;
                height: auto;
              }
            }
            em{
              width: calc(100% - 156px);
              font-style: normal;
              color: #fff;
              padding-left: 35px;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              line-height: 29px;
              font-size: rem(15);
            }
          }
        }
      }
      &_right{
        width: 500px;
        text-align: right;
        iframe{
          height: 350px;
        }
      }
    }
  }
  .bottom_ft{
    background-color: #EC6E00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    .n_bt{
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: 23px;
        }
        a{
          font-size: 1.6rem;
          line-height: 1;
          display: block;
          position: relative;
          color: #fff;
        }
      }
    }
    .copyright{
      color: #fff;
      font-size: rem(14);
      line-height: 1;
    }
  }
}