footer{
  background-color: #231815;
  border-top: vw(6) solid #ec6e00;
  .footer_pagetop{
    .row{
      position: relative;
      .gotop{
        position: absolute;
        bottom: vw(80);
        right: vw(30);
        img{
          width: vw(68);
          height: vw(68);
        }
      }
    }
  }
  .top_ft{
    padding: vw(40) 0 vw(80);
    .bx_aff{
      display: flex;
      flex-direction: column;
      &_left{
        order: 2;
        .ttl_aff{
          font-size: vw(45);
          color: #fff;
          font-weight: 400;
          line-height: 1;
          margin-bottom: vw(70);
          text-align: center;
        }
        ul{
          li{
            text-align: center;
            &:not(:last-child){
              margin-bottom: vw(60);
            }
            figure{
              img{
                width: vw(313);
                height: auto;
              }
            }
            em{
              display: block;
              margin-top: vw(30);
              font-style: normal;
              color: #fff;
              line-height: 1.5;
              font-size: vw(28);
            }
          }
        }
      }
      &_right{
        margin-bottom: vw(50);
        text-align: center;
        order: 1;
        /* overflow: hidden; */
        iframe{
          max-width: 100% !important;
        }
      }
    }
  }
  .bottom_ft{
    background-color: #EC6E00;
    padding: vw(20) vw(50);
    text-align: center;
    .n_bt{
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: vw(30);
        }
        a{
          font-size: vw(24);
          line-height: 1;
          display: block;
          position: relative;
          color: #fff;
        }
      }
    }
    .copyright{
      color: #fff;
      margin-top: vw(10);
      font-size: vw(18);
    }
  }
}