header{
  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transform: translate3d(0,0,0);
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  .bx_header{
   /*  padding-top: 90px; */
    &_top{
      border-top: vw(6) solid #ec6e00;
      padding: vw(25) 0;
      .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo{
        a{
          display: block;
          line-height: 1;
          img{
            width: vw(249);
            height: vw(57);
          }
        }
      }
      .hd_right{
        display: flex;
        align-items: center;
        p{
          font-size: vw(30);
          line-height: 1;
          color: #eb6100;
          font-weight: 400;
          letter-spacing: 1px;
          margin-right: vw(40);
          .tel{
            color: #eb6100;
          }
          span{
            display: block;
            +span{
              margin-top: vw(10);
            }
          }
        }
        .menu {
          &.open {
            .icon_menu {
              .icon_inner {
                transition-delay: .1s;
                transform: translate3d(0,vw(18),0) rotate(135deg);
                &::before {
                  transition-delay: 0s;
                  opacity: 0;
                }
                &::after {
                  transition-delay: .1s;
                  transform: translate3d(0,vw(-36),0) rotate(-270deg);
                }
              }
            }
          }
          .icon_menu {
            position: relative;
            width: vw(54);
            height: vw(40);
            cursor: pointer;
            %menu_sp {
              position: absolute;
              width: 100%;
              height: 3px;
              transition-timing-function: ease;
              transition-duration: .1s;
              transition-property: transform;
              background: #fb6505;
            }
            .icon_inner {
              @extend %menu_sp;
              transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
              transition-duration: .4s;
              display: block;
              top: 0;
              left: 0;
              &::before,&::after {
                content: "";
                display: block;
              }
              &::before {
                top: vw(18);
                transition: opacity .15s ease .4s;
                @extend %menu_sp;
              }
              &::after {
                top: vw(36);
                transition: transform .4s cubic-bezier(.68,-.55,.265,1.55);
                @extend %menu_sp;
              }
            }
          }
        }
      }
    }
    &_bottom{
      .nav{
        position: absolute;
        left: 0;
        z-index: 999;
        width: 100%;
        overflow: scroll;
        visibility: visible;
        transition: height 0.3s;
        background-color:rgba(255,255,255,0.8);
        overflow: scroll;
        opacity: 0;
        backface-visibility: hidden;
        transition: all 0.5s ease;
        &.open{
          opacity: 1;
          backface-visibility: visible;
          visibility: visible;
        }
        ul{
          margin: 0 vw(-30);
          li{
            position: relative;
            text-align: center;
            &:nth-of-type(1){
              a{
                span{
                  &:before{
                    background:url(../images/home_hv.png) no-repeat;
                    background-size: contain;
                    width: vw(68);
                    height: vw(62);
                  }
                }
              }
            }
            &:nth-of-type(2){
              a{
                span{
                  &:before{
                    background:url(../images/wrench_hv.png) no-repeat;
                    background-size: contain;
                    width: vw(62);
                    height: vw(62);
                  }
                }
              }
            }
            &:nth-of-type(3){
              a{
                span{
                  &:before{
                    background:url(../images/apartment_hv.png) no-repeat;
                    background-size: contain;
                    width: vw(62);
                    height: vw(66);
                  }
                }
              }
            }
            &:nth-of-type(4){
              a{
                span{
                  &:before{
                    background:url(../images/users_hv.png) no-repeat;
                    background-size: contain;
                    width: vw(68);
                    height: vw(52);
                  }
                }
              }
            }
            a{
              font-size: vw(32);
              line-height: 1;
              padding: vw(50) 0;
              display: block;
              color: #fff;
              position: relative;
              background-color: #000;
              border-bottom: 1px solid #fff;
              span{
                position: relative;
                display: inline-block;
                padding-left: vw(90);
                &:before{
                  content:"";
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                }
              }
            }
          }
        }
        .hd_right_btn{
          margin: 0 vw(-30);
          text-align: center;
          a{
            font-size: vw(32);
            line-height: 1;
            padding: vw(50) 0;
            display: block;
            color: #fff;
            position: relative;
            background-color: #ec6e00;
            border-bottom: 1px solid #fff;
            span{
              position: relative;
              display: inline-block;
              padding-left: vw(90);
              &:before{
                content:"";
                background: url(../images/mail.png) no-repeat;
                background-size: contain;
                width: vw(44);
                height: vw(32);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left:vw(20);
                transition: background 0.3s ease-out;
              }
            }
          }
        }
      }
    }
  }
}