header{
  &.fixed{
    .bx_header_bottom{
      border-top: 6px solid #ec6e00;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 199;
      transform: translate3d(0, 0, 0);
      box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
      min-width: 1160px;
    }
  }
  .bx_header{
   /*  padding-top: 90px; */
    &_top{
      border-top: 6px solid #ec6e00;
      padding: 29px 0 15px;
      .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .hd_left{
        
      }
      .hd_right{
        display: flex;
        align-items: center;
        &_ctn{
          padding-right: 30px;
          p{
            font-size: rem(30);
            line-height: 32px;
            color: #eb6100;
            font-weight: 400;
            .tel{
              pointer-events: none;
              color: #eb6100;
            }
            span{
              display: inline-block;
              letter-spacing: 1px;
              +span{
                margin-left: 30px;
              }
            }
          }
          em{
            font-size: rem(14);
            line-height: 24px;
            color: #231815;
            display: block;
            text-align: right;
            font-style: normal;
          }
        }
        &_btn{
          .btn_ct{
            width: 156px;
            height: 38px;
            font-size: 14px;
            line-height: 1;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-left: 20px;
            background-color: #ec6e00;
            border: 1px solid #ec6e00;
            border-radius: 4px;
            transform: translateZ(0);
            &:before{
              content:"";
              background: url(../images/mail.png) no-repeat;
              background-size: contain;
              width: 22px;
              height: 16px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left:15px;
              transition: background 0.3s ease-out;
            }
            &:after{
              content: '';
              width: 0%;
              height: 100%;
              background: #fff;
              position: absolute;
              right: 0;
              top: 0;
              left: 0;
              transition: width .6s ease;
              z-index: -1;
              border-radius: 3px;
            }
            &:hover{
              border: 1px solid #ec6e00;
              color: #ec6e00;
              &:before{
                background: url(../images/mail_hv.png) no-repeat;
                background-size: contain;
              }
              &:after{
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }
    }
    &_bottom{
      .nav{
        padding: 16px 0;
        ul{
          display: flex;
          justify-content: center;
          align-items: center;
          li{
            position: relative;
            &:before {
              content:"";
              background: url(../images/line.png) no-repeat;
              width: 23px;
              height: 36px;
              position: absolute;
              top: 50%;
              left: -10px;
              transform: translateY(-50%);
              z-index: -1;
            }
            &:nth-of-type(1){
              a{
                span{
                  &:before{
                    background:url(../images/home.png) no-repeat;
                    background-size: contain;
                    width: 34px;
                    height: 31px;
                  }
                }
              }
            }
            &:nth-of-type(2){
              a{
                span{
                  &:before{
                    background:url(../images/wrench.png) no-repeat;
                    background-size: contain;
                    width: 32px;
                    height: 32px;
                  }
                }
              }
            }
            &:nth-of-type(3){
              a{
                span{
                  &:before{
                    background:url(../images/apartment.png) no-repeat;
                    background-size: contain;
                    width: 31px;
                    height: 33px;
                  }
                }
              }
            }
            &:nth-of-type(4){
              &:after {
                content:"";
                background: url(../images/line.png) no-repeat;
                width: 23px;
                height: 36px;
                position: absolute;
                top: 50%;
                right: -10px;
                transform: translateY(-50%);
              }
              a{
                span{
                  &:before{
                    background:url(../images/users.png) no-repeat;
                    background-size: contain;
                    width: 34px;
                    height: 26px;
                  }
                }
              }
            }
            a{
              font-size: rem(16);
              line-height: 1;
              padding: 15px 20px 10px 35px;
              display: block;
              position: relative;
              transform: skew(-32deg);
              &:after{
                content: '';
                width: 0%;
                height: 43px;
                background: #000;
                position: absolute;
                right: 0;
                top: 0;
                left: 0;
                transition: width .6s ease;
                z-index: -1;
              }
              span{
                display: block;
                padding-left: 40px;
                transform: skew(32deg);
                &:before{
                  content:"";
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                }
              }
            }
            &:hover{
              a{
                color: #fff;
                &:after{
                  width: 101%;
                  left: 1px;
                }
              }
              &:nth-of-type(1){
                a{
                  span{
                    &:before{
                      background:url(../images/home_hv.png) no-repeat;
                      background-size: contain;
                    }
                  }
                }
              }
              &:nth-of-type(2){
                a{
                  span{
                    &:before{
                      background:url(../images/wrench_hv.png) no-repeat;
                      background-size: contain;
                    }
                  }
                }
              }
              &:nth-of-type(3){
                a{
                  span{
                    &:before{
                      background:url(../images/apartment_hv.png) no-repeat;
                      background-size: contain;
                    }
                  }
                }
              }
              &:nth-of-type(4){
                a{
                  span{
                    &:before{
                      background:url(../images/users_hv.png) no-repeat;
                      background-size: contain;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}